<div class="border-top">
    <div class="row Container py-5 my-5">
        <div class="col-6">
            <h3 class="fw-bolder mb-2 text--black w-50">
                <span class="primary--color">Today’s</span>
                News
            </h3>
            <p class="text-midSize ps-2 fw-bolder">
                serves as an online platform where users can access news on various topics like politics, entertainment,
                sports, and
                business.
            </p>
        </div>
        <div class="col-6 align-content-center border-left">
            <div class="row  fs-5  justify-content-end ">
                <i class="col-1 bi bi-facebook"></i>
                <i class="col-1 bi bi-linkedin"></i>
                <i class="col-1 bi bi-twitter-x"></i>
                <i class="col-1 bi bi-instagram"></i>
            </div>
        </div>
    </div>
</div>