<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-0  position-fixed w-100 custom-nav">
    <div class="Container">
        <button class="navbar-toggler" type="button" (click)="basicNavbar.toggle()" aria-expanded="false"
            aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="row collapse navbar-collapse main-Nav" id="navbarSupportedContent" mdbCollapse
            #basicNavbar="mdbCollapse">
            <div class="d-flex col-4 justify-content-between    ">
                <h2 class="fw-bolder mb-0 text--black  text-start" routerLink="home">
                    <span class="primary--color">News</span>
                    Daily
                </h2>

            </div>
            <ul class="col-8 navbar-nav  mb-2 mb-lg-0 fw-bold justify-content-end">
            
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/business']" routerLinkActive="selected">BUSSINESS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/sports']" routerLinkActive="selected">SPORT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/health']" routerLinkActive="selected">HEALTH</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/technology']" routerLinkActive="selected">TECHNOLOGY</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/entertainment']" routerLinkActive="selected">ENTERTAINMENT</a>
                </li>
                <li>
                    <div class=" ps-5 w-50 text-end">
                        <i class="bi bi-search fs-4 fw-bolder primary--color"></i>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</nav>