.gallery {
    background: black;
    
}

.gMainImage {
    max-height: 500px;
}

:host {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
}

:host ::ng-deep .gallery {
    width: 100%;
    max-width: 100%;
}

h2 {
    position: relative;
    display: inline-block;
    width: 200px;
    height:30px;
    justify-content: center;
}

.quote-left {
    position: absolute;
    top: -10px;
    left: 0px;

}

.quote-right {
    position: absolute;
    top: 20px;
    right: 0px;
}

