<p class="fs-1 fw-bolder mb-5 text--black ">
    <span class="primary--color">Today’s</span>
    News
</p>
<div class="row g-5">
    <app-mid-size-card class="col-9 ">
        <div class="row d-flex justify-content-between">
            <div class="col-4 p-4">
                <h5 class="card-title text--black fw-bolder">{{randomArticle()?.title}}</h5>
                <p class="card-text pt-5">{{randomArticle()?.description}}</p>
            </div>

            <div class="col-8">
                <img [src]="randomArticle()?.urlToImage" class="w-100 rounded-3" alt="Fissure in Sandstone" />
            </div>
        </div>
    </app-mid-size-card>
    <app-small-news-card class="col-3" />
</div>