<p class="fs-1 fw-bolder mb-5"><span class="primary--color">Today’s</span> News</p>
<div class="row g-5">
    <app-mid-size-card class="col-9"/>
        <!-- <div class="row d-flex justify-content-around">
            <div class="col-5">
                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top"
                    alt="Fissure in Sandstone" />
            </div>
            <div class="col-4">
                <h5 class="card-title text-warning">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's
                    content.</p>
            </div>
        </div> -->
    <app-small-news-card class="col-3" />
</div>

