<div class="row justify-content-between pt-1">
    <div class="col-7 align-items-center">
        <i class="bi bi-clock "></i>
        <span class="p-1 smallFont " >{{userInfo()?.publishedAt}}</span>
    </div>
    <div class="col-5  d-flex align-items-center p-0">
        <i class="bi bi-person fst-normal fw-bolder smallFont"> by</i>
        <span class="p-1 text--black fw-bolder  smallFont text-truncate d-inline-block" style="width: 100px;" >{{userInfo()?.author?userInfo()?.author:'Unknown user'}}</span>
    </div>
</div>