.inner-name {

  position: absolute;
  top: 10%;
  right: 15%;
  color: white; 
  text-align: left;
  padding: 20px;
  font-size: 15px;
  max-width: 20%; 
  border-radius: 50%;
}

.imgContainer {
    height: 700px;
    width: 100%;

}

.content {
  color: #4F4F4F;
}