.inner-name {

  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 10px 10px;
  top: 15%;
  right: 15%;
  color: white; 
  background: rgba(234, 51, 35, 0.7);
  text-align: left;
  font-size: 15px;
  min-width: 10%;
  height: 50px;
  border-radius: 20px;
}

.imgContainer {
    height: 700px;
    width: 90%;

}

.content {
  color: #4F4F4F;
}