.inner-text {

  position: absolute;
  bottom: 10%;
  right: 15%;
  /* transform: translate(-50%, -50%); */
  color: white; 
  text-align: left;
  padding: 20px;
  font-size: 20px;
  max-width: 20%; 
}

.imgContainer {
    height: 700px;
    width: 100%;

}

.content {
  color: #4F4F4F;
}