<nav aria-label="..." class="row justify-content-center">
    <div class="col-4">
        <ul class="pagination d-flex justify-content-around">
            <li class="page-item ">
                <a class="page-link"    [routerLink]="pagenumber >= 2 ? ['/', navSelection, pagenumber] : ['../', navSelection]"
                    (click)="prevPage()">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" routerLinkActive="selected">{{pagenumber}}</a></li>
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="" routerLinkActive="selected">{{pagenumber + 1}} <span
                        class="visually-hidden"></span></a>
            </li>
            <li class="page-item"><a class="page-link">{{pagenumber + 2}}</a></li>
            <li class="page-item">
                <a class="page-link" [routerLink]="['/', navSelection,pagenumber]"
                    (click)="nextPage()">Next</a>
            </li>
        </ul>
    </div>
</nav>