<div class="mt-5">
    <div class="Container">
        <app-today-news [randomArticle]="RandomDayArticle()" [sub4Articels]="get4News()"
            [rightArticle]="rightSideArticle">
            <app-full-size-card [fullSizeCardData]='fullSizeCard' />
        </app-today-news>
        <app-editors-pick [generalNews]="GeneralNews()" />
    </div>
    <app-gallery class="gallery" [generalNews]="GeneralNews()" />
    <div class="Container">
        <app-story class="py-5 my-5" [News]="GeneralNews()">
            <app-mid-size-card class="col-12">
                <div class="row d-flex justify-content-around">
                    <div class="col-4 pt-4">
                        <h3 class="fw-bolder w-100"><span class="primary--color ">STORY:</span>
                            {{rightSideArticle?.source?.name}}</h3>
                        <h5 class="card-title text--black fw-bolder text-twoLineClamp">{{rightSideArticle?.title}}</h5>
                        <app-post-info>
                            <div class="col-7 align-items-center">
                                <i class="bi bi-clock "></i>
                                <span class="p-1 smallFont text-truncate">{{rightSideArticle?.publishedAt}}</span>
                            </div>
                            <div class="col-5  d-flex align-items-center p-0">
                                <i class="bi bi-person fst-normal fw-bolder smallFont w-25"> by</i>
                                <span class=" fw-bolder  smallFont text-truncate d-inline-block w-75">
                                    {{rightSideArticle?.author?rightSideArticle?.author:'Unknownuser'}}
                                </span>
                            </div>
                        </app-post-info>
                        <p class="card-text fs-6 pt-5 text-FiveLinesClamp">{{rightSideArticle?.description}}</p>
                    </div>
                    <div class="col-6">
                        <img [src]="rightSideArticle?.urlToImage" class="w-100 rounded-3 midSizeImage"
                            alt="Fissure in Sandstone" />
                    </div>
                </div>
            </app-mid-size-card>
            <div class="row gy-5 my-5">
                @for (item of GeneralNews()?.slice(1,7); track $index) {
                <div class="col-4">
                    <app-micro-card [item]="item" />
                </div>
                }
            </div>.
        </app-story>
    </div>
</div>