<div class="smallCard d-flex flex-column" (click)="getNewsArticle(news())">
    <img [src]="news()?.urlToImage" class="card-img-top rounded-5 smallCardImg" alt="Fissure in Sandstone" />
    <div class="card-body d-flex flex-column justify-content-around">
        <h5 class="card-title fs-6 fw-bolder pt-3 text--black text-twoLineClamp">{{news()?.title}}</h5>
        <p class="card-text text-midSize fw-bolder text-twoLineClamp  pt-3">{{news()?.description}}</p>
    </div>
    <app-post-info>
        <div class="col-7 align-items-center">
            <i class="bi bi-clock "></i>
            <span class="p-1 smallFont text-truncate">{{news()?.publishedAt}}</span>
        </div>
        <div class="col-5  d-flex align-items-center p-0">
            <i class="bi bi-person fst-normal fw-bolder smallFont w-25"> by</i>
            <span class=" fw-bolder  smallFont text-truncate d-inline-block w-75">
                {{news()?.author?news()?.author:'Unknownuser'}}
            </span>
        </div>
    </app-post-info>

</div>