
@import "mdb-angular-ui-kit/assets/scss/mdb.scss";

.button--primary {
    background: #EA3323 ;
    color: white
}

.primary--color {
        color: #EA3323 ;
}

.text--black {
    color: #020202;
}

.smallFont {
    font-size: 10px;
}